<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1 style="text-align:center;">This page shows Pass/Fail Status of the Student </h1>
    </div>
    <div>
        <h2> Student Pass/Fail Status </h2>
        <table border="1" cellpadding="10" cellspacing="0">
        <tr>
            <th>Roll No</th>
            <th>Name</th>
            <th>Marks</th>
            <th>Status</th>
        </tr>
            {% for s in student %}
            {% if s.marks >= 40 %}
        <tr>
            <td>{{ s.rollno }}</td>
            <td>{{ s.name }}</td>
            <td>{{ s.marks }}</td>
            <td>Pass</td>
        </tr>
            {% else %}
        <tr>
            <td>{{ s.rollno }}</td>
            <td>{{ s.name }}</td>
            <td>{{ s.marks }}</td>
            <td>Fail</td>
        </tr>
            {% endif %}
            {% endfor %}
    </table>
    </div>
</body>
</html>