<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service List</title>
</head>
<body>

<h1>Service List</h1>
<a href="{% url 'addservice' %}">Create Service</a>
{% comment %} <a href ="{% url 'filterEmployee' %}">FILTER</a> 
<a href ="{% url 'sortEmployee' 1 %}">Asc</a>
<a href ="{% url 'sortEmployee' 2 %}">Desc</a> {% endcomment %}
<table border="1">
    <thead>
        <tr>
            <th>Service ID</th>
            <th>Service Name</th>
            <th>Service Category</th>
            <th>Service Price</th>
            <th>Service Discount</th>
            <th>Service Description</th>
            <th colspan="2">Action</th> 
        </tr>
    </thead>

    <tbody>
        {% for s in service %}
        <tr>
            <td>{{ s.id }}</td>
            <td>{{ s.sname }}</td>
            <td>{{ s.scategory }}</td>
            <td>{{ s.sprice }}</td>
            <td>{{ s.sdiscount }}</td>
            <td>{{ s.sdescription }}</td>
            <td><a href="{% url 'deleteservice' s.id %}"> Delete </a></td>
            <td><a href="{% url 'updateservice' s.id %}"> Update </a></td> 
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>