<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>If you have any query then Contact US</h1>
    </div>
    <div>
        <label style="font-family: cursive;color: darkblue;">Name:</label>
        <input type="text" style="color: black;"><br><br><hr>
        <label style="font-family: cursive;color: darkblue;">Contact No:</label>
        <input type="number" value="phone"><br><br><hr>
        <label style="font-family: cursive;color: darkblue;">Email:</label>
        <input type="email" ><br><br><hr>
        <label style="font-family: cursive;color: darkblue;">Problem:</label>
        <textarea></textarea><br><br><hr>
    </div>
    <input type="button" name="Submit" value="Submit" style="background-color:cornflowerblue;">
</body>
</html>